<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shopemaa.android.storefront">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/shopemaa"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/shopemaa"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShopemaaAndroidStorefront"
        tools:replace="android:icon">
        <activity
            android:name=".ui.activities.DigitalPaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CheckoutCompleteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.StoreActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".ui.activities.BarcodeScannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.CartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <action android:name="android.intent.action.VIEW" />

                <data
                    android:host="open"
                    android:scheme="shopemaastorefront" />
            </intent-filter>
        </activity>
    </application>

</manifest>